* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.horse {
    width: 15vh;
    height: 15vh;
    padding:    5px;
    margin-bottom: 5px;
}

.horse img {
    width: 100%;
    height: auto;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#result {
    display: none;
}