*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.horse {
    width: 200px;
    height: 200px;
    padding: 15px;
    margin-bottom:5px;
}

#red{
    background-color: red;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}